.cart-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--Rose-50);
  padding: 24px;
}

.cart-container h2 {
  color: var(--Red);
  align-self: flex-start;
  padding-bottom: 12px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-cart img {
  padding: 24px;
  align-self: center;
}

.empty-cart p {
  font-size: 0.9rem;
  font-weight: 650;
  color: var(--Rose-500);
}

ul li {
  list-style: none;
  display: flex;
  justify-content: start;
  border-bottom: 2px solid var(--Rose-100);
}

.item-container {
  font-size: 0.8rem;
  padding: 20px 0;
}
.cart-container h4 {
  color: var(--Rose-900);
  font-weight: 680;
}

.item-container > div {
  display: flex;
  padding-top: 10px;
}

.item-container div > p {
  padding-right: 15px;
  color: var(--Rose-500);
}
.item-container div > p:first-of-type{

  color: var(--Red);
}

.item-list img:hover {
  cursor: pointer;
  height: 14px;
  width: 14px;
  color: var(--Rose-900);
}

.total{
  font-size: .9rem;
  font-weight: 500;
  display: flex;
  justify-content: start;
  align-items: center; 
  padding: 25px 0;
}
.total strong {
  font-weight: 900;
  font-size: 1.5rem;
  margin-left: auto ;
}

.carbon-neutral{
  font-size: .8rem;


  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 15px 25px;
  background-color: var(--Rose-100);

}
.carbon-neutral img {
  padding-right: 8px;
}

.confirm-button{
padding: 15px;
border: none;
width: 100%;
border-radius: 100px;
font-size: .8rem;
margin-top: 15px;
background-color: var(--Red);
color: var(--Rose-50);
}

.confirm-button:hover{
  cursor: pointer;
  background-color: hsl(14, 82%, 35%);
}


@media (min-width: 427px) and (max-width: 768px) {
}

@media (min-width: 768px) {
  .cart-container {
    width: max-content;
  }
}
