

@media (min-width: 427px) and (max-width: 768px) {
}

@media (min-width: 768px) {
    
.item-page{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    align-items: start;
}
    
}